@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


section#conteudo_comojogar {
	display: block;
	width: 900px;
	height: 600px;
	margin-left: 50px;
}

img#foto1 {
	position: relative;
	left: 200px;
	top: 0px;
	width: 450px;
}

section#conteudo_comojogar h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30pt;
	color: #dddddd;
} 

hgroup#imagens {
	position: relative; 
	height: 100%;
}

footer#rodape {
	clear: both;
	position: relative;
	top: 150px;
}



